{% comment %}
  Renders the cart bundle item template (cart page)

  Usage:
  {% render 'cart-bundle-item' %}
{% endcomment %}

<div class="item">
  <div class="info">
    <div class="image" data-cart-item="image">
      <img
        src="{{ product.image }}"
        alt="{{ product.name }}"
        height="100%"
        width="100%"
        loading="lazy"
        {% unless product.image %}
          hidden
        {% endunless %}
      >
      <div
        class="card-placeholder"
        {% if product.image %}
          hidden
        {% endif %}
        data-cart-item-image-placeholder
      >
        {% render 'yc-placeholder', name: 'product', size: '48' %}
      </div>
    </div>
    <div class="heading">
      <span title="{{ product.name }}" data-cart-item="title">
        {{ product.name | default: 'Product Name' }}
      </span>
      <p
        class="variant"
        data-cart-item="variant"
        {% if product.variations == null or product.variations.default %}
          hidden
        {% endif %}
      >
        {% for variant in product.variations %}
          <span>{{- variant[1] -}}</span>
          {% unless forloop.index == product.variations.size - 1 %}
            <span>/</span>
          {% endunless %}
        {% endfor %}
      </p>
      {% if product.variants %}
      {% endif %}
      <div class="price">
        <div class="original" data-cart-item="price">
          <span
            class="yc-badge free"
            data-status="success"
            {% if product.price %}
              hidden
            {% endif %}
          >
            {% render 'yc-icon', name: 'gift' %}
            {{ 'order.free' | t }}
          </span>
          <span
            {% unless product.price %}
              hidden
            {% endunless %}
          >
            {{ product.price | default: 0 | money }}
          </span>
        </div>
        <span
          class="compare-at"
          data-cart-item="compare-price"
          {% unless product.compare_at_price %}
            hidden
          {% endunless %}
        >
          {{ product.compare_at_price | default: 0 | money }}
        </span>
      </div>
    </div>
  </div>
  <div class="controls">
    {% render 'yc-quantity-control', product: product, button_size: 'sm', inventory: product.inventory %}
    {% assign subtotal = product.quantity | times: product.price %}
    <span data-cart-item="subtotal">{{ subtotal | money }}</span>
    <yc-cart-remove-button
      item="{{ product.id }}"
      product-variant="{{ product.product_variant_id }}"
      data-cart-item="delete-button"
    >
      <button
        class="icon"
        data-delete
        data-size="sm"
        aria-label="Delete"
      >
        {% render 'yc-icon', name: 'trash' %}
      </button>
    </yc-cart-remove-button>
  </div>
</div>
