{% comment %}
  Renders a slideshow slide item

  Accepts:
  - slide: {Object} Slide item

  Usage:
  {% render 'slideshow-slide', slide: {...} %}
{% endcomment %}

{% assign slideshow_settings = section.settings %}

<yc-slider-item role="group" aria-roledescription="slide">
  {% if slide.desktop_image.src or slide.mobile_image.src %}
    <picture>
      {% if slide.mobile_image.src %}
        <source srcset="{{ slide.mobile_image.src }}" media="(max-width: 768px)">
      {% endif %}
      {% if slide.desktop_image.src %}
        <source srcset="{{ slide.desktop_image.src }}" media="(min-width: 769px)">
      {% endif %}
      <img
        src="{{  slide.desktop_image.src | default: slide.mobile_image.src }}"
        alt="{{ "slide " | append: forloop.index }}"
        height="100%"
        width="100%"
      >
    </picture>
  {% endif %}
  {% if slide.heading or slide.subheading or slide.button_text %}
    <yc-slider-content data-alignment="{{ slideshow_settings.content_alignment }}">
      {% if slide.heading %}
        <p class="heading">{{ slide.heading }}</p>
      {% endif %}
      {% if slide.subheading %}
        <p class="subheading">{{ slide.subheading }}</p>
      {% endif %}
      {% if slide.button_text %}
        <a href="{{ slide.button_url }}" class="yc-btn">
          {{ slide.button_text }}
        </a>
      {% endif %}
    </yc-slider-content>
  {% endif %}
</yc-slider-item>
