{{ 'component-bundles.css' | asset_url | stylesheet_tag }}

{% comment %}
  Renders a bundle(s) component

  Accepts:
  - bundles: {Array} Bundles list

  Usage:
  {% render 'yc-bundles', bundles: [] %}
{% endcomment %}

{% for bundle in product.bundles.single %}
  <label data-bundle="single" {{ block.youcan_attributes }}>
    <div class="head">
      <input class="yc-checkbox" type="checkbox" value="{{ bundle.id }}">
      <div class="detail">
        <div class="box">
          <h3 class="title">{{ bundle.title }}</h3>
          <div class="price">
            <span class="original">{{ bundle.total_price | money }}</span>
            {% if bundle.compare_price %}
              <span class="compare-at">{{ bundle.compare_price | money }}</span>
            {% endif %}
          </div>
        </div>
        <div class="box">
          <span class="yc-badge save" data-status="default"> x{{ bundle.bundle_products.size }} </span>
          {% if bundle.saving_percentage %}
            <span class="yc-badge save" data-status="error">
              {{ 'bundle.save' | t }}
              {{ bundle.saving_percentage }}%
            </span>
          {% endif %}
        </div>
      </div>
    </div>
    <div class="item">
      <div class="media">
        {% if product.preview_image %}
          <img
            src="{{ product.preview_image.original }}"
            alt="{{ product.name }}"
            height="65"
            width="65"
            loading="lazy"
          >
        {% else %}
          <div class="placeholder">
            {% render 'yc-placeholder', name: 'product' %}
          </div>
        {% endif %}
      </div>
      <div class="info">
        <span class="name">{{ product.name }}</span>
        {% for item in bundle.bundle_products %}
          {% assign p = item.selected_variant %}

          {% unless p.variations == null or p.variations.default %}
            <div class="group">
              <span class="index">#{{ forloop.index }}</span>
              <div class="variants">
                {% for variant in p.variations %}
                  <span class="variant">{{ variant[1] }}</span>
                {% endfor %}
              </div>
            </div>
          {% endunless %}
        {% endfor %}
      </div>
    </div>
  </label>
{% endfor %}
{% for bundle in product.bundles.multi %}
  <label data-bundle="multi" {{ block.youcan_attributes }}>
    <div class="head">
      <input class="yc-checkbox" type="checkbox" value="{{ bundle.id }}">
      <div class="detail">
        <div class="box">
          <h3 class="title">{{ bundle.title }}</h3>
          <div class="price">
            <span class="original">{{ bundle.total_price | money }}</span>
            {% if bundle.compare_price %}
              <span class="compare-at">{{ bundle.compare_price | money }}</span>
            {% endif %}
          </div>
        </div>
        <div class="box">
          <span class="yc-badge save" data-status="default"> x{{ bundle.bundle_products.size }} </span>
          {% if bundle.saving_percentage %}
            <span class="yc-badge save" data-status="error">
              {{ 'bundle.save' | t }}
              {{ bundle.saving_percentage }}%
            </span>
          {% endif %}
        </div>
      </div>
    </div>
    <ul class="list">
      {% for item in bundle.bundle_products %}
        {% assign p = item.selected_variant %}

        <div class="item">
          <div class="media">
            {% if p.image %}
              <img
                src="https://cdn.youcan.shop/{{ p.image }}"
                alt="{{ item.product.name }}"
                width="65"
                height="65"
                loading="lazy"
              >
            {% elsif item.thumbnail %}
              <img src="{{ item.thumbnail }}" alt="{{ item.product.name }}" width="65" height="65" loading="lazy">
            {% else %}
              <div class="placeholder">
                {% render 'yc-placeholder', name: 'product' %}
              </div>
            {% endif %}
          </div>
          <div class="info">
            <span class="name">{{ item.product.name }}</span>
            <div class="price">
              <span class="original">{{ item.price | money }}</span>
              {% if item.discount_value %}
                <span class="compare-at">{{ p.price | default: 0 | money }}</span>
              {% endif %}
            </div>
            {% unless p.variations == null or p.variations.default %}
              <div class="variants">
                {% for variant in p.variations %}
                  <span class="variant">{{ variant[1] }}</span>
                {% endfor %}
              </div>
            {% endunless %}
          </div>
        </div>
      {% endfor %}
    </ul>
  </label>
{% endfor %}
{% for bundle in product.bundles.buyxgety %}
  <label data-bundle="buyxgety" {{ block.youcan_attributes }}>
    <div class="head">
      <input class="yc-checkbox" type="checkbox" value="{{ bundle.id }}">
      <div class="detail">
        <div class="box">
          <h3 class="title">{{ bundle.title }}</h3>
          <div class="price">
            <span class="original">{{ bundle.total_price | money }}</span>
            {% if bundle.compare_price %}
              <span class="compare-at">{{ bundle.compare_price | money }}</span>
            {% endif %}
          </div>
        </div>
        <div class="box">
          <span class="yc-badge save" data-status="default"> x{{ bundle.bundle_products.size }} </span>
          {% if bundle.saving_percentage %}
            <span class="yc-badge save" data-status="error">
              {{ 'bundle.save' | t }}
              {{ bundle.saving_percentage }}%
            </span>
          {% endif %}
        </div>
      </div>
    </div>
    <ul class="list">
      {% for item in bundle.bundle_products %}
        {% assign p = item.selected_variant %}

        {% unless item.discount_value %}
          <div class="item">
            <div class="media">
              {% if p.image %}
                <img
                  src="https://cdn.youcan.shop/{{ p.image }}"
                  alt="{{ item.product.name }}"
                  width="65"
                  height="65"
                  loading="lazy"
                >
              {% elsif item.thumbnail %}
                <img src="{{ item.thumbnail }}" alt="{{ item.product.name }}" width="65" height="65" loading="lazy">
              {% else %}
                <div class="placeholder">
                  {% render 'yc-placeholder', name: 'product' %}
                </div>
              {% endif %}
            </div>
            <div class="info">
              <span class="name">{{ item.product.name }}</span>
              <div class="price">
                <span class="original">{{ item.price | money }}</span>
                {% if item.discount_value %}
                  <span class="compare-at">{{ p.price | default: 0 | money }}</span>
                {% endif %}
              </div>

              {% unless p.variations == null or p.variations.default %}
                <div class="variants">
                  {% for variant in p.variations %}
                    <span class="variant">{{ variant[1] }}</span>
                  {% endfor %}
                </div>
              {% endunless %}
            </div>
          </div>
        {% endunless %}
      {% endfor %}
    </ul>
    <div class="gift">
      {% render 'yc-icon', name: 'gift' %}
      <span>{{ 'bundle.free_gifts' | t }}</span>
    </div>
    <ul class="list">
      {% for item in bundle.bundle_products %}
        {% assign p = item.selected_variant %}

        {% if item.discount_value %}
          <div class="item">
            <div class="media">
              {% if p.image %}
                <img
                  src="https://cdn.youcan.shop/{{ p.image }}"
                  alt="{{ item.product.name }}"
                  width="65"
                  height="65"
                  loading="lazy"
                >
              {% elsif item.thumbnail %}
                <img src="{{ item.thumbnail }}" alt="{{ item.product.name }}" width="65" height="65" loading="lazy">
              {% else %}
                <div class="placeholder">
                  {% render 'yc-placeholder', name: 'product' %}
                </div>
              {% endif %}
            </div>
            <div class="info">
              <span class="name">{{ item.product.name }}</span>
              <div class="price">
                <span class="compare-at">{{ p.price | default: 0 | money }}</span>
                {% if item.discount_value %}
                  <span class="yc-badge free" data-status="success">
                    {% render 'yc-icon', name: 'gift' %}
                    {{ 'order.free' | t }}
                  </span>
                {% endif %}
              </div>

              {% unless p.variations == null or p.variations.default %}
                <div class="variants">
                  {% for variant in p.variations %}
                    <span class="variant">{{ variant[1] }}</span>
                  {% endfor %}
                </div>
              {% endunless %}
            </div>
          </div>
        {% endif %}
      {% endfor %}
    </ul>
  </label>
{% endfor %}
