{% if section.settings.is_visible %}
  {{ 'announcement-bar.css' | asset_url | stylesheet_tag }}

  {% style %}
    #youcan-section--announcement-bar {
      --announcement-bar-foreground-color: {{ section.settings.announcement_bar_text_color.red }}, {{ section.settings.announcement_bar_text_color.green }}, {{ section.settings.announcement_bar_text_color.blue }};
      --announcement-bar-background-color:{{ section.settings.announcement_bar_background_color.red }}, {{ section.settings.announcement_bar_background_color.green }}, {{ section.settings.announcement_bar_background_color.blue }};
      --announcement_bar_order: {{ section.settings.position }};
    }
  {% endstyle %}

  <div class="announcement">
    {% if section.settings.announcement_link != '' and section.settings.announcement_link != null %}
      <a href="{{ section.settings.announcement_link }}" class="link">
    {% endif %}
    <p class="message">
      {{ section.settings.announcement_message | default: 'Welcome to our store!' }}
    </p>
    {% if section.settings.announcement_link != '' and section.settings.announcement_link != null %}
      </a>
    {% endif %}
  </div>
{% endif %}

{% schema %}
{
  "label": "t:sections.announcement_bar.label",
  "limit": 1,
  "settings": [
    {
      "type": "checkbox",
      "id": "is_visible",
      "label": "t:sections.announcement_bar.show_bar",
      "default": true
    },
    {
      "type": "select",
      "id": "position",
      "label": "t:common.position.position",
      "options": [
        {
          "value": "0",
          "label": "t:sections.announcement_bar.above_header"
        },
        {
          "value": "1",
          "label": "t:sections.announcement_bar.below_header"
        }
      ],
      "default": "0"
    },
    {
      "type": "text",
      "id": "announcement_message",
      "label": "t:sections.announcement_bar.text",
      "placeholder": "t:sections.announcement_bar.text_placeholder"
    },
    {
      "type": "url",
      "id": "announcement_link",
      "label": "t:sections.announcement_bar.link",
      "placeholder": "t:sections.announcement_bar.link_placeholder"
    },
    {
      "type": "color",
      "id": "announcement_bar_background_color",
      "label": "t:common.colors.background_color",
      "default": "#ffffff"
    },
    {
      "type": "color",
      "id": "announcement_bar_text_color",
      "label": "t:common.colors.text_color",
      "default": "#121212"
    }
  ]
}
{% endschema %}
