{{ 'collection-card.css' | asset_url | stylesheet_tag }}

<yc-section
  style="
    --section-space-top: {{ section.settings.space_top }}px;
    --section-space-bottom: {{ section.settings.space_bottom }}px;
    --section-bg-color: {{ section.settings.background_color.hex }};
    --section-text-color: {{ section.settings.text_color.red }}, {{ section.settings.text_color.green }}, {{ section.settings.text_color.blue }};

    --collection-card-background: var(--section-bg-color);
    --collection-card-foreground: var(--section-text-color);

    --items-columns: {{ section.settings.collection_columns }};
  "
>
  {% if section.settings.title or section.settings.description %}
    <yc-section-head data-position="{{ section.settings.position }}">
      {% if section.settings.title %}
        <h2>{{ section.settings.title }}</h2>
      {% endif %}
      {% if section.settings.description %}
        <p>{{ section.settings.description }}</p>
      {% endif %}
    </yc-section-head>
  {% endif %}
  <div class="collections">
    <ul class="items-grid">
      {% for block in section.blocks %}
        <li>
          {%- render 'collection-card', collection: block.settings.collection, youcan_attributes: block.youcan_attributes -%}
        </li>
      {%- endfor -%}
    </ul>
  </div>
</yc-section>

{%- schema -%}
{
  "label": "t:sections.collections.label",
  "templates": ["index", "product"],
  "max_blocks": 24,
  "settings": [
    {
      "id": "title",
      "type": "text",
      "label": "t:sections.collections.title",
      "default": "t:sections.collections.default_title"
    },
    {
      "id": "description",
      "type": "textarea",
      "label": "t:sections.collections.description",
      "default": "t:sections.collections.default_description"
    },
    {
      "id": "position",
      "type": "select",
      "label": "t:sections.collections.header_position",
      "options": [
        {
          "value": "left",
          "label": "t:sections.collections.left"
        },
        {
          "value": "center",
          "label": "t:sections.collections.center"
        },
        {
          "value": "right",
          "label": "t:sections.collections.right"
        }
      ],
      "default": "center"
    },
    {
      "id": "text_color",
      "type": "color",
      "label": "t:sections.collections.text_color",
      "default": "#121212"
    },
    {
      "id": "background_color",
      "type": "color",
      "label": "t:sections.collections.background_color",
      "default": "#FFFFFFFF"
    },
    {
      "id": "collection_columns",
      "type": "range",
      "label": "t:sections.collections.collection_columns",
      "min": 1,
      "max": 4,
      "step": 1,
      "unit": "",
      "default": 3
    },
    {
      "type": "header",
      "content": "t:sections.collections.section_spacing"
    },
    {
      "id": "space_top",
      "type": "range",
      "label": "t:sections.collections.space_top",
      "min": 0,
      "max": 200,
      "step": 10,
      "unit": "px",
      "default": 50
    },
    {
      "id": "space_bottom",
      "type": "range",
      "label": "t:sections.collections.space_bottom",
      "min": 0,
      "max": 200,
      "step": 10,
      "unit": "px",
      "default": 50
    }
  ],
  "blocks": [
    {
      "type": "collection",
      "label": "t:sections.collections.blocks.collection",
      "settings": [
        {
          "type": "category",
          "id": "collection",
          "label": "t:sections.collections.blocks.collection"
        }
      ]
    }
  ]
}
{%- endschema -%}
