{% if product.related_products %}
  {% if section.settings.view_style == 'slides' %}
    {{ 'component-slider.css' | asset_url | stylesheet_tag }}
    {{ 'component-slider.js' | asset_url | script_tag_deferred }}
  {% endif %}

  <yc-section
    style="
      --section-space-top: {{ section.settings.space_top }}px;
      --section-space-bottom: {{ section.settings.space_bottom }}px;
      --section-bg-color: {{ section.settings.background_color.hex }};
      --section-text-color: {{ section.settings.text_color.red }}, {{ section.settings.text_color.green }}, {{ section.settings.text_color.blue }};
      --section-arrows-foreground: rgb(var(--section-text-color));
      --section-arrows-background: var(--section-bg-color);

      --items-columns: {{ section.settings.product_columns }};
    "
  >
    {% if section.settings.title or section.settings.description %}
      <yc-section-head data-position="{{ section.settings.position }}">
        {% if section.settings.title %}
          <h2>{{ section.settings.title }}</h2>
        {% endif %}
        {% if section.settings.description %}
          <p>{{ section.settings.description }}</p>
        {% endif %}
      </yc-section-head>
    {% endif %}
    <div class="products">
      {% if section.settings.view_style == 'grid' %}
        <ul class="items-grid">
          {% for item in product.related_products %}
            <li>
              {%- render 'product-card', product: item -%}
            </li>
          {%- endfor -%}
        </ul>
      {% else %}
        <yc-slider
          arrows
          responsive
          per-move="page"
          style="
            --slider-gap: 30;
            --slider-speed: 600;
            --slider-height: auto;
            --slider-per-page: {{ section.settings.product_columns }};

            --slider-max-items-lg: 2;
            --slider-max-items-md: 1;
          "
          role="region"
          aria-roledescription="carousel"
        >
          <div class="slider-area">
            <div class="slider-box" data-slider-box>
              <div class="slider-inner" data-slider>
                {% for item in product.related_products %}
                  <yc-slider-item role="group" aria-roledescription="slide">
                    {%- render 'product-card', product: item -%}
                  </yc-slider-item>
                {%- endfor -%}
              </div>
            </div>
          </div>
          <yc-slider-footer>
            <yc-slider-arrows data-position="right">
              <div class="slider-arrows">
                <button class="icon" data-arrow="left" aria-label="previous" disabled>
                  {% render 'yc-icon', name: 'arrow-left', size: 15 %}
                </button>
                <button class="icon" data-arrow="right" aria-label="next">
                  {% render 'yc-icon', name: 'arrow-right', size: 15 %}
                </button>
              </div>
            </yc-slider-arrows>
          </yc-slider-footer>
        </yc-slider>
      {% endif %}
    </div>
  </yc-section>
{% endif %}

{%- schema -%}
{
  "limit": 1,
  "templates": ["product"],
  "label": "t:sections.related_products.label",
  "settings": [
    {
      "type": "paragraph",
      "content": "t:sections.related_products.info_paragraph"
    },
    {
      "id": "title",
      "type": "text",
      "label": "t:common.content.title",
      "default": "t:sections.related_products.title_default"
    },
    {
      "id": "description",
      "type": "textarea",
      "label": "t:common.content.description",
      "default": "t:sections.related_products.description_default"
    },
    {
      "id": "position",
      "type": "select",
      "label": "t:common.position.header_position",
      "options": [
        {
          "value": "left",
          "label": "t:common.alignment.left"
        },
        {
          "value": "center",
          "label": "t:common.alignment.center"
        },
        {
          "value": "right",
          "label": "t:common.alignment.right"
        }
      ],
      "default": "left"
    },
    {
      "id": "view_style",
      "type": "select",
      "label": "t:common.view.view_style",
      "options": [
        {
          "value": "grid",
          "label": "t:common.view.grid"
        },
        {
          "value": "slides",
          "label": "t:common.view.slides"
        }
      ],
      "default": "grid"
    },
    {
      "id": "text_color",
      "type": "color",
      "label": "t:common.colors.text_color",
      "default": "#121212"
    },
    {
      "id": "background_color",
      "type": "color",
      "label": "t:common.colors.background_color",
      "default": "#FFFFFFFF"
    },
    {
      "id": "product_columns",
      "type": "range",
      "label": "t:common.product.columns",
      "min": 1,
      "max": 4,
      "step": 1,
      "unit": "",
      "default": 4
    },
    {
      "type": "header",
      "content": "t:common.spacing.section_spacing"
    },
    {
      "id": "space_top",
      "type": "range",
      "label": "t:common.spacing.space_top",
      "min": 0,
      "max": 200,
      "step": 10,
      "unit": "px",
      "default": 50
    },
    {
      "id": "space_bottom",
      "type": "range",
      "label": "t:common.spacing.space_bottom",
      "min": 0,
      "max": 200,
      "step": 10,
      "unit": "px",
      "default": 50
    }
  ]
}
{%- endschema -%}
